.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.first-button{
  margin-right: 5px;
}

.project-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.project-well{
  width:20em;
  margin: 10px;
}

.jumbo-text{
  margin: 30px;
}

.jumbo-container{
  margin-top: 0px;
}

.jumbotron {
  background-image: url("https://images.pexels.com/photos/1470171/pexels-photo-1470171.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
}
#contact{
  background-image: linear-gradient(to bottom,#5cb85c 0,#419641 100%);
  color: #fff;
  margin-bottom: 0px;
  padding-bottom: 60px;
}

.navbar-container{
  margin-bottom: 0px;
}

.well-container{
  margin: 20px;
}

.well-title{
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #D3D3D3;
}
.well{
  background-image: none;
}
.portfolio-pic{
  width:20em;
  margin-bottom: 30px;
}
.contact-info{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
