.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.first-button{
  margin-right: 5px;
}

.project-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.project-well{
  width:20em;
  margin: 10px;
}

.jumbo-text{
  margin: 30px;
}

.jumbo-container{
  margin-top: 0px;
}

.jumbotron {
  background-image: url("https://images.pexels.com/photos/988872/pexels-photo-988872.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-size: cover;
}
#contact{
  background-image: url("https://images.pexels.com/photos/988872/pexels-photo-988872.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-size: cover;
  margin-bottom: 0px;
}

.navbar-container{
  margin-bottom: 0px;
}

.well-container{
  margin: 20px;
}

.well-title{
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #D3D3D3;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
